
/*  Other styles for making things look pretty ==================== */

figure, body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', serif;
}
h1, #wrapper > figure > figcaption {
    text-align: center;
}
#wrapper > figure > figcaption {
    font-weight: bold;
    margin: 1em;
}
.main {
    width: 80%;
    margin: 2em auto;
    /*display: block;*/
}
pre {
    overflow:auto;
    width: 100%;
    background-color: #fff;
    padding: 1em;
}
.fig{
    background-color: #acd3f2;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
   .mis-slider li a {
            text-decoration: none;
            color: #666;
            display: block;
            background-color: #acd3f2;
            height: 284px;
            width: 100%;
            border-radius: 171px;

        }  
@media screen and (min-width: 1200px) {
    .main {
        width: 50%;
    }
}